@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Sixtyfour+Convergence&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #c2cbd5;
    --secondary-color: #1e1f1f;
    --background-color: #10121A;
    --border-color: #b0b3c0;
    --background-light-color: #f1f1f1;
    --background-light-color-2: rgba(3, 127, 255, 0.3);
    --white-color: #FFF;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;
    --sidebar-dark-color: #191D2B;
}
body{
    font-family: 'Poppins', sans-serif;
    /* background-color: #0d0c0c; */
    background-image: url(/mont-blanc-1886323_1280.jpg);
}